# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Chrome user data
chrome_data*/

# VSCode settings
.vscode/

# Ficheiro de URLs local (para não enviar URLs sensíveis para o repositório)
urls.txt
